* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --bg-color: #2f2e41;
  --span-color: #00bfa6;
  --text-color: #c2c2c2;
}

body {
  background-color: var(--bg-color);

  color: white;
}

nav,
h1,
footer {
  font-family: 'JetBrains Mono', monospace;
}
span {
  color: #00bfa6;
}
a {
  text-decoration: none;
  color: white;
}
.page {
  max-width: 1083px;

  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 101px;
}
ul {
  display: flex;
  gap: 64px;
  list-style: none;
}
ul a {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 157px;
}
main .text {
  text-align: center;
}
main h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
main p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: var(--text-color);

  margin-top: 59px;
}

footer {
  text-align: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}
footer .line {
  margin: 0 auto 27px;
  width: 568px;
  height: 0;
  border: 1px solid var(--span-color);
}
